body, html{
  height:100%;
}

body {
  margin: 0;
}

.main {
  position: relative;
  width: 1000px;
  height: 100%;
  background-color:#fff;
  font-size: 18px;
  opacity: 1;
}

.help {
  position: absolute;
  top: 32px;
  width: 940px;
  height: 700px;
  overflow: scroll;
  margin: 20px;
  padding: 25px;
  background: #00d;
  color: #fff;
  opacity: 0;
  z-index: 2;
}

.arena {
  float: left;
  width: 600px;
  height: 600px;
  position: relative;
  border-right: 1px solid black;
  border-top: 1px solid black;
  box-shadow: 0px 0px 5px 2px black inset;
  margin: 10px;
  background-color:silver;
  border: 1px solid gray;
}

img {

 transition: all 1s ease-in;

}
a:link, a:visited, a:active{
  color: lightblue;
  padding-left:25px;
  margin-top:-20px;
}

.topbar span{
  padding:5px 10px;
  color: #ddd;
  border-radius: 5px;
  float:right;
}

span.start{
  float: left;
  margin-left: 20px;
}

.topbar span:hover{
  background-color: #885;
  text-shadow: 1px 1px 2px #775;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.loader {
  position: absolute;
  top: 42px;
  left: 630px;
  padding: 10px 20px;
  width: 330px;
  height: 500px;
  scroll: auto;
  margin:0;
  background: wheat;
}

.rightbar {
  padding: 10px;
  margin-left: 620px;
}

.commands {
  background: wheat;
  margin:0;
  padding: 10px 20px;
  width: 320px;
}

.enemy {
  background: #a66;
}
.commands .heading, .commands .hp {
  font-family: 'Iceland', sans-serif;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

.headingEdit {
  font-family: 'Iceland', sans-serif;
  font-size: 30px;
  line-height: 30px;
  width: 200px;
  margin: 0;
  padding: 0;
}
.commands .heading { font-size: 30px; line-height: 30px;}

.editButton, .saveButton{
  float: right;
  background: blue;
  background-image: -webkit-linear-gradient(135deg, #50a, violet); /* For Chrome and Safari */
  background-image: linear-gradient(135deg, #50a, violet);
  width: 70px;
  border-radius: 7px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

textarea {
  line-height: 1.7em;
  font-size: 15px;
  min-height: 150px;
  width: 240px;
  margin: 10px 10px 0;
}

pre {
  font-family: 'Droid Sans Mono';
  font-size: 14px;
  line-height: 1.5em;
  width: 260px;
  padding: 5px;
  margin-bottom: 10px;
}

li{
  padding:5px;
  margin-left:0;
}

.topbar li:hover, .loader li:hover{
  background:#777;
  color:#fff;
}

.robot {
  position: absolute;
  border: 20px solid blue;
  border-radius: 12px;
  font-size: 0;
}

.missile {
  position: absolute;
  border: 5px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
}

.damage {
  opacity: 0.5;
}

@keyframes damage {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}